*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
header{
    display: flex;
    height: 12vh;
    width: 100vw;
    background-color: orange;
    justify-content: space-between;
}
header>h1{
    text-align: start;
    margin: auto 0;
}
header>input{
    text-align: center;
    height: 3vh;
    margin: auto 0;
}
header.button{
    align-items: center;
    margin: auto 0;
}
.container{
    display: grid;
    height: 70vh;
    width: 94vw;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    row-gap: 4vw;
    column-gap: 4vw;
    margin: 3vw;
}
img{
    width: 97%;
    height: 97%;
    align-items: center;
    border: 3px solid green;
}
footer{
    width: 70vw;
    height: 8vh;
    background-color: grey;
    margin:auto;
    color: white;
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid orange;
}
/*Configuração da página de vídeo */
video{
    display: block;
    margin:  0 auto 10vh;
    height: 55vh;
}
.tituloVideo{
    text-align: center;
    margin: 5vh 0;
}
/*Responsividade */
@media screen and (max-width: 480px){
    .container{
        height: 250vh;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 8vw;
    }
    img{
        width: 100%;
        height: 100%;
    }
    footer{
        font-size:1.2em ;
    }
    video{
        height: 35vh;
    }
    button{
        position: relative;
        top: 620px;
    }
}